# Ignore generated HTML files
*.html

# Ignore generated image files
*.png

# Ignore saved model files
*.joblib

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
mlruns/
audit_log.json
automl_models_output/
automotive_gui.log
*.png
gui_state.json
contractor_data.json
incident_response_data.json
