aiohttp==3.9.5
cryptography==42.0.8
dash-bootstrap-components==1.6.0
dash==2.17.1
dotenv==0.0.5
fastapi==0.111.0
matplotlib
mlflow
numpy
pandas
scikit-learn
scikit-optimize
scipy
seaborn==0.13.2
shap==0.45.1
spacy
structlog==24.2.0
torch==2.3.1
uvicorn==0.29.0
lightgbm
xgboost
