aiohttp==3.9.5
cryptography==42.0.8
dash==2.17.1
dash-bootstrap-components==1.6.0
dotenv==0.0.5
fastapi==0.111.0
matplotlib==3.9.0
numpy
pandas==2.2.2
plotly==5.22.0
pycryptodome==3.20.0
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
shap==0.45.1
structlog==24.2.0
torch==2.3.1
uvicorn==0.29.0
